@model Category

<h1>Видалити</h1>

<style>
    body {
        background: linear-gradient(#c6e4ee 0%, #c6e4ee 40%, #fed1ae 60%, #faa0b9 70%, #cb7dcb 80%, #757ecb 100%);
    }
</style>

<h3>Ви впевнені, що хочете видалити даний запис?</h3>
<div>
    <h4>Категорія</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Назва
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            <a asp-action="Index">Повернутись до списку...</a>
        </div>
    </form>
</div>
