@model IEnumerable<Category>

<h1>Категорії</h1>

<p>
    <a asp-action="Create">Створити нову...</a>
</p>

<style>
    body {
        background: linear-gradient(#c6e4ee 0%, #c6e4ee 40%, #fed1ae 60%, #faa0b9 70%, #cb7dcb 80%, #757ecb 100%);
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Керування
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати...</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити...</a>
                </td>
            </tr>
        }
    </tbody>
</table>


